/*///////// Desktop //////////*/

#nav-lang-mobile{ display: none; }
#nav-mobile{ display: none; }

header nav ul>li>.language {
    display: inline-block;
    padding: 0;
}

header nav ul>li>a.language:hover {
    color: darksalmon;
}

header nav ul>li.language-conteiner {
    padding-right: 24px;
}

nav .brand-logo { padding-left: 2%; }
nav .logo { width: 40%; }

#home{
/*    height: 100vh;*/
}

.home-section{
    width: 100%;
    position: relative;
}

.home-section.engineer, .home-section.coder, .home-section.vle-design {
    position: absolute;
    width: 40%;
    display: block;
    z-index: 1;
    height: 15%;
    margin: auto;
    top: 0;
    bottom: 0;
}

.engineer>a, .coder-content>a, .vle-design>a {
    text-decoration: none;
    color: #000;
}

.engineer>p, .coder-content>p, .vle-design>p {
    text-align: justify;
    padding: 0 5%;
}

.engineer { left: 0; }
.vle-design { right: 0; }

#contact-me { display: none; }

/*// MY IMG //*/
.home-section.img_me {
    display: block;
    margin: 0px;
}

#skills {
    height: 100vh;
}

#skills .img-visual {
    max-height: 40vh;
}

.project-title{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    margin: 0;
    line-height: 2.8rem;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col img {
    position: relative;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

#about {
    background-image: url(../img/london.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    height: 90vh;
    padding-top: 15vh;
}

#about .frame {
    border: 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.45);
}

#about h5 { line-height: 1.4; }

#portfolio>div >article.card {
    box-shadow: none;
}

.card-title + p {
    color: #000;
}

#contact {
    background-image: url(../img/blur.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-width: 100%;
    height: 100vh;
}


#contact {
        height: 90vh;
}
#contact .row { padding-top: 10vh; }
#contact .row h3 {
    font-family: 'Chewy';
    text-align: center;
    color: darkslategray;
}
#contact .row h5 {
    font-family: 'Handlee';
    text-align: center;
    color: darkmagenta;
    font-weight: 600;
}


footer.page-footer {
    z-index: 2;
    display: grid;
    background-color: #424242;
    bottom: 0;
    width: 100%;
    padding: 0;
}

/*///////// RESPONSIVE 992 //////////*/
@media (max-width: 992px){
    header>nav>div>.brand-logo {
        left: 40%;
    }
}


/*///////// RESPONSIVE 768-tablet //////////*/

@media (max-width : 768px){
    h4 { font-size: 2rem; }
    #about { background-position: left;}
    #about h5 { line-height: 1.2; }
}

/*///////// RESPONSIVE 480-mobile //////////*/

@media (max-width : 480px){
    #nav-desktop{ display: none; }
    header nav ul>li>.language {
        display: inline-block;
        padding: 0;        
        font-size: large;
        font-weight: 500;
    }
    nav .logo { 
        width: 45%;
        margin-left: 20%;
    }
    #nav-lang-mobile{ 
        display: block;
        background-color: rgba(158, 208, 190, 0.94);
        color: blueviolet;
        box-shadow: 0 0 0;
        padding: 0 0 12vh 5%;
        z-index: 35;
    }
    #nav-mobile{ display: block; z-index: 35; }
      
    html{
        box-sizing: border-box;
    }
    *, *:after,*:before{
        box-sizing: inherit;
    }
    a{
        color: #333;
        text-decoration: none;
    }
    html{
        width: 100%;
        height: 100%;
    }
    body{
        background: rgba(132, 119, 152, 0.48);;
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;        
    }
    h1{
        width: 100%;
        text-align: center;
        padding: 40px 0;
    }
    
    .open{
        position: fixed;
        top: 5px;
        right: 40px;
        width: 50px;
        height: 50px;
        display: block;
        cursor: pointer;
        transition: opacity 0.2s linear;	
    }

    .open:hover{
        opacity: 0.8;
    }

    .span-nav{
        display: block;
        float: left;
        clear: both;
        height: 4px;
        width: 40px;
        border-radius: 40px;
        background-color: #fff;
        position: absolute;
        right: 3px;
        top: 3px;
        overflow: hidden;
        transition: all 0.4s ease;		
    }

    .span-nav:nth-child(1){
        margin-top: 10px;
        z-index: 21;
    }
    .span-nav:nth-child(2){
        margin-top: 25px;
    }
    .span-nav:nth-child(3){
        margin-top: 40px;
    }

    .sub-menu{
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        height: 0;
        width: 0;
        right: 0;
        top: 0;
        position: absolute;
        background-color: rgba(75, 38, 133, 0.86);
        border-radius: 50%;
        z-index: 25;
        overflow: hidden;
    }

    .sub-menu li{
        display: block;
        float: right;
        clear: both;
        height: auto;
        margin-right: -160px;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);    
    }

    .sub-menu li:first-child{
        margin-top: 180px;
    }
    .sub-menu li:nth-child(1){
        -webkit-transition-delay: 0.05s;
    }
    .sub-menu li:nth-child(2){
        -webkit-transition-delay: 0.10s;
    }
    .sub-menu li:nth-child(3){
        -webkit-transition-delay: 0.15s;
    }
    .sub-menu li:nth-child(4){
        -webkit-transition-delay: 0.20s;
    }
    .sub-menu li:nth-child(5){
        -webkit-transition-delay: 0.25s;
    }
    .sub-menu li a{
        color: #fff;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 16px;
        width: 100%;
        display: block;
        float: left;
        line-height: 40px;
    }

    .oppenned .sub-menu{
        opacity: 1;
        height: 400px;
        width: 400px;
    }
    .oppenned span:nth-child(2){
        overflow: visible;
    }
    .oppenned span:nth-child(1), .oppenned span:nth-child(3){
        z-index: 100;
        transform: rotate(45deg);
    }
    .oppenned span:nth-child(1){
        transform: rotate(45deg) translateY(12px) translateX(12px);
    }
    .oppenned span:nth-child(2){
        height: 400px;
        width: 400px;
        right: -160px;
        top: -160px;
        border-radius: 50%;
        background-color: rgba(38, 84, 133, 0.54);
    }
    .oppenned span:nth-child(3){			
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
    }
    .oppenned li{
        margin-right: 168px;
    }

    .button{
        display: block;
        float: left;
        clear: both;
        padding: 20px 40px;
        background: #fff;
        border-radius: 3px;
        border: 2px solid #10a1ea;
        overflow: hidden;
        position: relative;	
    }

    .button:after{
        transition: transform 0.3s ease;
        content: "";
        position: absolute;
        height: 200px;
        width: 400px;
        transform: rotate(45deg) translateX(-540px) translateY(-100px);
        background: #10a1ea;
        z-index: 3;
    }
    .button:before{
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        z-index: 5;
        text-align: center;
        padding: 20px 40px;
        transform: translateY(200px);
    }
    .button:hover{
        text-decoration: none;    
    }

    .button:hover:after{
        transform: translateX(-300px) translateY(-100px);
    }
    .button:hover:before{
        transform: translateY(0);
    }
    #home{ height: 77vh; }
    #contact-me { display: block; }
    .engineer, .vle-design, .coder-content { display: none;}
    
    #about {
        background-position: right;
        padding-top: 12vh;
        color: black;
        height: 77vh;
    }
    #about .frame { background-color: rgba(255, 255, 255, 0.66) }
    .frame h3{ font-size: 2.4rem; }
    .frame h5{ font-size: 1.4rem; line-height: 2.5rem; }
    
    #skills{ padding-top: 6vh; }
    
    .col img.img_me {
        margin-top: 10vh;
    }
    #contact {
        height: 80vh;
    }
    #contact .row h3 {
        font-size: 2.2rem;
    }
    footer.page-footer { background-color: rgb(136, 195, 174); }
    .page-footer .footer-copyright { font-size: large; }
}